[2014-02-21 14:46] siacomuzzi opened #4 "Include App_Start\Startup.Auth.cs file if it does not exist"

[2014-03-14 10:25] bipa opened #6 "This implementation has a big problem when cancelling the oauth flow"
Do the following:

1) Login with facebook

2) logout

3) Try login again with linkedin, but CANCEL the grant flow

4) You are then authenticated with facebook still......

For me it looks like the signout is not clearing the cookie...

We are using this solution, so it would be great if this issue was fixed....

[2014-06-01 17:02] robertmclaws opened #7 "Rule Errors are swallowed by the Auth0AuthenticationHandler"
Instead of passing back the exact result from Auth0's rules system to the developer's code, the OWIN Middleware swallows it and gives you a generic error.

You can see the problem here: https://github.com/auth0/auth0-aspnet-owin/blob/master/Auth0.Owin/Auth0AuthenticationHandler.cs#L220

I will be submitting a PR to fix it.

[2014-06-02 16:02] #7 closed, assigned to nobody

[2014-11-14 21:27] StephaneBischoff opened #10 "Auth0.Owin does not have a strong name."
Auth0.Owin does not have a strong name.
this is a serious issue as I cannot build my project.

Got the package from NuGet
Id: Auth0-ASPNET-Owin
version 0.6.2

[2014-11-17 16:32] #10 closed, assigned to dschenkelman

[2015-09-21 20:08] rolodato opened #15 "Use v2/logout endpoint"
https://auth0.com/docs/logout

[2015-09-29 18:04] rolodato opened #16 "Analyze upgrading Microsoft.Owin.Security dependency"
Might fix intermittent issues with `getExternalIdentity` returning `null`.

[2015-11-04 19:08] drewid opened #17 "Issues with beta8 and ASP.NET 5 (vNext) - MVC sample with OpenID Connect"
Hello,

I am getting errors running the examples as it seems the to have problems beta8 (or sometime before, not sure when the breaking changes happened).  There are issues with Account Controller and project.json and the dependencies.

Does not seem to exist anymore:
Microsoft.AspNet.Http.Security

I am getting the following error with the following dependencies "the dependency does not support t

[2015-11-04 19:10] sandrinodimattia commented on #17
Hi @drewid, sorry for the confusion but our ASP.NET 5 support is in a different repository where we have samples: https://github.com/auth0/auth0-aspnet5

[2015-11-04 21:23] #17 closed

[2015-11-05 02:53] drewid commented on #17
Fantastic.  Thanks for the info, a big help and making a lot more sense!!!

[2015-11-23 22:14] sirkirby opened #20 "Update the ASP.NET 5 example to RC1-Final"
Hello, I submitted an issue last week here: https://github.com/auth0/auth0-aspnet5/issues/4 trying to get some info on RC1 compatibility.  Can you please let me know if this is something you plan to do? Thanks!

[2015-11-30 12:25] sandrinodimattia commented on #20
Hi there, our samples have been updated to RC1: https://github.com/auth0/auth0-aspnet5

[2015-11-30 12:25] #20 closed

[2015-12-21 23:56] #15 closed

[2016-01-07 05:32] parth7676 opened #23 "Error while running MVC Sample Example"
![image](https://cloud.githubusercontent.com/assets/14904762/12162895/ea2ab85e-b52d-11e5-91dc-ad2719470686.png)

Why  i am getting this Exception???
What may be the problem??

[2016-01-13 05:19] aguerere opened #24 "License file missing and Readme does not comply with template"
A license file must be added, and the readme must have the issue reporting, author and license sections grouped together at the bottom of the readme file.

[2016-01-28 17:53] #24 closed

[2016-01-28 20:10] jerriep opened #26 "Nickname and Name claims not available as per documentation"
The ASP.NET OWIN quickstart claims that the `name` and `nickname` claims are available (see https://auth0.com/docs/quickstart/webapp/aspnet-owin/ under the "Accessing user information" section).

This is however not the case. See relevant section in OWIN middleware source code:

https://github.com/auth0/auth0-aspnet-owin/blob/master/Auth0.Owin/Auth0AuthenticationHandler.cs#L94-L123

These claims n

[2016-01-29 12:18] Amialc opened #27 "outdated dependencies in webapi"
Outdated dependencies in webapi example:
* Microsoft.AspNet.Cors 5.0.0 -> 5.2.3
* Microsoft.AspNet.WebApi 5.1.2 -> 5.2.3
* Microsoft.AspNet.WebApi.Client 5.2.0 -> 5.2.3
* Microsoft.AspNet.WebApi.Core 5.2.0 -> 5.2.3
* Microsoft.AspNet.WebApi.Owin 5.2.0 -> 5.2.3
* Microsoft.AspNet.WebApi.WebHost 5.1.2 -> 5.2.3
* Microsoft.Owin 2.1.0 -> 3.0.1
* Microsoft.Owin.Cors 2.1.0 -> 3.0.1
* Microsoft.Owin.Host

[2016-01-29 18:09] #26 closed

[2016-02-03 20:38] #27 closed

[2016-02-25 17:48] mehreencs87 opened #34 "Outdated Readme.md"
Readme says "In order to run the example you need to have Visual Studio 2013 installed."
but this seed project  is tested with Microsoft Visual Studio 2015 & Microsoft Visual Studio 2013.
then the instruction should be like that "In order to run the example you need to have Visual Studio installed."

[2016-03-07 17:54] hardvin commented on #23
I Have the same Error.

[2016-03-21 19:57] #34 closed

[2016-03-21 19:58] jerriep commented on #6
No movement on this issue in a very long time. Please reopen issue if it is still relevant.

[2016-03-21 19:58] #6 closed

[2016-04-28 04:49] JasonSilvestri commented on #23
Are you guys installing the Nugget packages? Also, setting up the callback Urls in the Auth0 Application Settings needs to be done. You won't get a id token match return. After the user has authenticated using Auth0, an HTTP POST back to the /signin-auth0 path of your website is done, which will be intercepted by the Auth0 OWIN middleware. For security purposes, they have us register the URL on th

[2016-04-28 06:39] jerriep commented on #23
I cannot reproduce. @parth7676 and @hardvin can either of you please describe to me the exact steps you are following to reproduce?

[2016-04-28 19:51] JasonSilvestri commented on #23
@jerriep It cannot be reproduced, because your environment is configured correctly. I think it is on the Auth0 end of their configuration.

[2016-04-28 20:47] hardvin commented on #23
I Solved!

Thank You

[2016-04-28 21:07] JasonSilvestri commented on #23
Cool beans! For the sake of clarity, would you mind briefly describing to the collective group what was done to solve the issue in case others have the same issue?

[2016-04-28 21:23] hardvin commented on #23
At this link is my step to step to solve the problem.

https://www.dropbox.com/s/em1pp9m95bj4ors/Solve%20problem.docx?dl=0

[2016-04-29 00:40] jerriep commented on #23
Glad you got it solved @hardvin

I am going to close this issue. But if any of you still have an issue, please open a support ticket of the Auth0 Support Centre (https://auth0.com/support), and let me know here what the ticket# is so I can pick it up.

Also if you open a ticket please try and attach a sample app which demonstrates you problem as it can become very difficult otherwise to track down

[2016-04-29 00:40] #23 closed

[2016-05-04 13:57] arieradle opened #37 "Remove dependency on System.Web"
The handler contains dependency on System.Web due to a single line of code:

Line 279 in Auth0AuthenticationHandler.cs:
`var state = HttpUtility.ParseQueryString(context.Request.Query["state"]);`

I think it's possible to use Uri.ParseQueryString

This dependency is redundant, and while it's in place, I'm not sure if this middleware can be used in selfhosting scenarios

[2016-05-04 14:06] arieradle opened #38 "Nuget dependency on "Microsoft.Owin.Host.SystemWeb""
The project has reference to Microsoft.Owin.Host.SystemWeb.
It is referenced and used only by the test project.

This dependency is redundant, please remove it.

[2016-05-05 07:19] itsho commented on #37
I'm need the exact same thing.

[2016-05-05 11:40] jerriep commented on #37
I will look into your issues sometimes next week @arieradle

[2016-05-09 07:01] jerriep commented on #38
Hi @arieradle that reference is indeed required because the `Auth0AccountController` class which is added by the package requires it.

If this is a problem for you I can create a new NuGet package which includes **only** the OWIN middleware and will therefore required less dependencies.

Please let me know if this is required by you.

[2016-05-09 09:51] arieradle commented on #38
I would like to have such NuGet.

[2016-05-09 09:56] jerriep commented on #38
OK, I will create one for you ;)

[2016-05-09 10:07] arieradle commented on #38
10x :smile:

[2016-05-10 08:58] #37 closed

[2016-05-10 09:01] jerriep commented on #38
You can use https://www.nuget.org/packages/Auth0-ASPNET-Owin-Libs/ for using just the OWIN middleware

[2016-05-10 09:01] #38 closed

[2016-05-13 16:58] nicosabena commented on #16
This entries at Stack Overflow describe the problem:

http://stackoverflow.com/questions/32928841/issue-with-https-on-production-environment

http://stackoverflow.com/questions/27976507/aspnetapplicationcookie-and-asp-net-sessionid-not-created?rq=1

The issue is with Katana, see https://katanaproject.codeplex.com/workitem/197

There's a fix here: https://github.com/KentorIT/owin-cookie-saver, and

[2016-05-13 17:03] rkralston commented on #16
I plan on looking more into this next week. Please post something if you find a workaround this weekend.

[2016-05-21 16:21] Amialc opened #39 "basic-mvc-sample"
Logout works with only global logoutURL
![image](https://cloud.githubusercontent.com/assets/1114365/15449530/162c3142-1f89-11e6-8ee8-e6d21aee28e7.png)
![image](https://cloud.githubusercontent.com/assets/1114365/15449529/090a589a-1f89-11e6-8f1d-135650d2138d.png)

![image](https://cloud.githubusercontent.com/assets/1114365/15449535/2af5ce1c-1f89-11e6-87a4-ada04238b18b.png)

[2016-07-08 19:08] adameska opened #41 "Old version of netwonsoft required"
I'm having to add assembly redirects for Newtonsoft.Json because of this package. We're using version 9.0 and this assembly relies on the exact version of 4.5 to run (which is super old). Can you make it like the other packages and rely on version >= 7.0 ?

[2016-07-13 10:54] nicosabena commented on #16
Upgrading to the latest Microsoft.Owin and related dependencies (3.0.1) doesn't seem to fix the problem. The simple repro posted [here](https://katanaproject.codeplex.com/workitem/197) continues to fail:

[code]

[2016-07-21 07:01] jerriep commented on #16
@nicosabena Thanks for following up on this. Since upgrading makes no difference, can we close this issue?

[2016-07-21 07:22] #41 closed

[2016-07-21 07:23] jerriep commented on #41
@adameska Latest version on NuGet references 7.0.1

[2016-07-21 07:23] jerriep commented on #16
Nevermind. I updated to the latest versions in any case because of another issue

[2016-07-21 07:23] #16 closed

[2016-08-23 13:38] BrianVallelunga commented on #39
I ran in to this issue too. Try including the client_id in the call to /v2/logout. Then it will use the client app-specific logout urls.

[2016-08-23 13:51] BrianVallelunga opened #43 "State not passed to callback"
In a SSO scenario, I redirect my users to https://myapp.auth0.com/authorize?state=HelloWorld&redirect_uri=https://myapp/signin-auth0....

When a user authenticates they get redirected to the /signin-auto0 middleware, which in turn sends them to my custom callback, /auth0/callback

Unfortunately, the state value seems to be lost when it gets to my callback. Is this a result of the commented out lin

[2016-11-05 21:32] adamreed90 opened #44 "Errors not Displayed by ExternalLoginCallback"
When enabling for example, the rule for Forcing EMail Verification, the default Auth0AccountController.cs does not parse the Error/Error_Description sent to it by Auth0.

A simple update allows the error message to be displayed:

        [AllowAnonymous]
        public async Task<ActionResult> ExternalLoginCallback(string returnUrl, string error, string error_description)
        {
            if

[2017-04-07 08:17] MoppDepp opened #47 "Federated logout not supported"
How one should implement federated logout in v2.0?
https://github.com/auth0/auth0-aspnet-owin/blob/master/src/Auth0.Owin/Auth0AuthenticationHandler.cs#L224

[2017-04-10 03:09] jerriep commented on #47
@MoppDepp I'll look into adding this

[2017-04-18 11:08] jerriep commented on #47
I see you opened a Zendesk issue as well

Let's close this and rather carry on on Zendesk

[2017-04-19 03:24] jerriep commented on #47
Support added in 2.1.0 (https://www.nuget.org/packages/Auth0-ASPNET-Owin)

Add `.federated` dictionary key with value of `true` to `AuthenticationProperties` when logging out:

[code]

[2017-04-19 03:24] #47 closed

[2017-04-26 07:17] santiagorp opened #48 "Add state support to the ExternalLoginCallback"
The state is lost after the redirect from `signin-auth0` (which gets the state) to the `Auth0AccountController` method `ExternalLoginCallback` (state not available anymore).

Maybe it should be passed in the redirect to the ExternalLoginCallback, next to the returnUrl parameter. Otherwise it can be stored as a custom claim in the identity.

More info in ticket https://auth0.zendesk.com/agent/ticke

[2017-05-17 12:31] pradsin opened #49 "100% CPU In Owin Thread On Self Hosted WebAPI"
On Examining the threads which were taking high CPU, it was found out that all of those threads are stuck in accessing a Dictionary.

![owin](https://cloud.githubusercontent.com/assets/19728219/26153521/530f4916-3b29-11e7-80ab-9ce6d7e3d95d.png)

Here is WinDBG CLRStack of all High CPU Taking Threads

Loading Dump File [E:\Shared\Logs\100%CPUYogi\3CLogicStarter_6.dmp]
User Mini Dump File with Full

[2017-05-17 12:33] pradsin commented on #49
This is probably happening as all the four threads are trying to use same dictionary without a lock

[2017-05-17 13:30] jerriep commented on #49
@pradsin We cannot assist you with ASP.NET issues. Please open an issue with Microsoft about this.

[2017-05-17 13:30] #49 closed

[2017-05-24 09:41] arieradle opened #50 "Relative paths are not supported properly"
At auth0-aspnet-owin/src/Auth0.Owin/Auth0AuthenticationHandler.cs (line 295):

`string redirectUri = context.RedirectUri ?? Options.RedirectPath.ToString();`

At this point, the redirect URI is determined by the value configured in Options.RedirectPath.
I think this value should be relative to RequestPathBase.

For example:

my redirect path is
Options.RedirectPath = "/redirect".

In IIS, my appli

[2017-05-25 06:55] #50 closed

[2017-05-25 07:00] jerriep commented on #50
@arielger I pushed v2.2.1 to NuGet to resolve this issue for you

[2017-05-25 07:15] arieradle commented on #50
Thanks, I'll test

[2017-05-25 07:21] arieradle opened #51 "Auth0-ASPNET-Owin-Libs nuget is still v1.1.1"
Please update the Auth0-ASPNET-Owin-Libs Nuget to the same version as Auth0-ASPNET-Owin.

[2017-05-25 07:33] jerriep commented on #50
@arieradle Since V2 of Auth0-ASPNET-Owin, we have remove all the extra content (such as the Auth0AccountController) which was added. There is therefore no more need for using the libs-only package. As a matter of fact I should actually deprecate that package.

I would appreciate if you could upgrade to the normal Auth0-ASPNET-Owin package.

If there is another reason why you still would require th

[2017-05-25 07:42] arieradle commented on #50
Here is the list of dependencies for the package

.NETFramework 4.5
**Microsoft.AspNet.Mvc (>= 5.0.0)**
Microsoft.Owin (>= 3.0.1)
**Microsoft.Owin.Host.SystemWeb (>= 3.0.1)**
Microsoft.Owin.Security (>= 3.0.1)
Newtonsoft.Json (>= 7.0.1)
Owin (>= 1.0.0)

We don't want the marked dependencies in our project - the project is a pure OWIN solution, without any AspNet.Mvc (we use Nancy instead). The rea

[2017-05-25 08:18] jerriep commented on #50
My apologies for not fixing those dependencies earlier. They are now fixed in v2.2.2

It may take a few minutes to be indexed on NuGet

[2017-05-25 08:20] arieradle commented on #50
Wow! Great. Thanks for the quick response.
In this case, the second library can be deprecated in deed.

[2017-05-25 10:46] #51 closed

[2017-05-28 07:26] arieradle opened #52 "Port for .net core"
Please port this library and update the Nuget dependencies for .net core and other target frameworks.

[2017-05-28 07:27] #52 closed

[2017-11-07 03:52] #4 closed

[2017-11-10 03:50] jerriep commented on #39
The middleware has been updated since to support handling logout correctly, and passing the client id.

See OWIN Quickstart for more info for how to implement:
https://auth0.com/docs/quickstart/webapp/aspnet-owin/01-login

[2017-11-10 03:50] #39 closed

[2017-11-14 19:02] brgrz opened #54 "Request is not returned to ReturnUrl after authentication success"
When requesting a protected resource the querystring is correctly appended by the "returnUrl" parameter but then after the authentication was successful the response always gets sent to the same (root) URL.

For instance, when using MVC areas when I request a protected resource within an "admin" area
/admin/dashboard the request would be redirected to the login action on the account controller lik

[2017-11-15 03:31] jerriep commented on #54
@brgrz I have tested against our Quickstart sample, and this does indeed work correctly, and redirects the user to the protected resource after authentication.

Can you share the code you use in your `Login` method? You should ensure that pass the redirect URL to the `ChallengeResult`, e.g.

[code]

This is the code for `ChallengeResult`:

[code]

Note that the `RedirectUri` should be added to the

[2017-11-15 04:24] jerriep commented on #43
@BrianVallelunga This is a very old issue. Is this still relevant?

[2017-11-15 05:08] jerriep commented on #44
@adamreed90

We are no longer including the `Auth0AccountController` class. You can handle this very easily yourself by setting the `ErrorRedirectPath` of `Auth0AuthenticationOptions`, e.g. `ErrorRedirectPath = new PathString("/Home/Error")`.

Then create a controller action which handles that route, and extract the `error` and `error_description` querystring values to display a proper authenticat

[2017-11-15 05:08] #44 closed

[2017-11-15 05:09] #48 closed

[2017-11-15 07:52] brgrz commented on #54
I actually use customized, self hosted version of embedded Lock and Auth0 OWIN 2.3.0 package. My GET Login method on the AccountController only returns the customized view - I do not use the ChallengeResult (I saw in a sample MVC app that ChallengeResult goes to Auth0 hosted login form, which I do not want).

I'll try to post some gists for you to examine.

[2017-11-15 07:58] jerriep commented on #54
The problem is that you are working outside of the standard authorization middleware, but initiating the authorization process from your own embedded Lock, and not initiating it through the ASP.NET middleware and the hosted Lock. So you will have to probably do some magic on your side to make it work.

I can try and assist you - as time allows - but I will need a full reproducible sample I can run

[2017-11-15 07:59] brgrz commented on #54
I made a gist which is available here
https://gist.github.com/brgrz/c250d26fc6dd3d6aa2b6237c53111284

This is pretty much everything I got. I do have another project which also uses embedded Lock from last year and it uses the old (1.0.4) version of Auth0 Owin package. The same issue is present there, authentication works fine but redirection back to the corrent Url doesn't happen.

[2017-11-15 08:02] brgrz commented on #54
Yeah, I want to make the self hosted option to work. As far as I remember, there used to be samples for this even with ASP.NET/OWIN scenario but I couldn't find them anymore (I didn't come up with what I got by myself, I'm pretty sure it was published by Auth0 at some point but apparently removed later on).

[2017-11-15 08:04] jerriep commented on #54
@brgrz please create a runnable sample application for me.

[2017-11-15 08:05] jerriep commented on #54
Yeah, the embedded samples were removed as they were insecure. Unfortunately I do not have the exact details, but I do know Auth0 prefers you using the hosted version as it is more secure. For exact details on why, I suggest you contact Auth0 support (I am not an Auth0 employee)

[2017-11-15 08:12] brgrz commented on #54
Oh, I wasn't aware of the fact you weren't an Auth0 employee, so thanks for helping out.

Given that everything changed in the last year or so since I used Auth0 for the first time and everyhint seems to point to using the hosted login now, I am going to evaluate if that would indeed be a better option going forward.

[2017-11-15 08:20] jerriep commented on #54
I used to work for them, but not anymore. However, I am still maintaining these libraries for them, and they are paying me to do it - so this is my job. Well, one of them ;) So I will assist you where I can, but as I mentioned before

1. What you are doing is definitely not recommended by Auth0
2. What you are doing works outside the framework of the ASP.NET Authentication middleware, so it may no

[2017-11-15 08:26] brgrz commented on #54
I understand but they do still mention it is possible to use the embedded Lock and I also see you have a sample for ASP.NET Core which uses self hosted login page (although not made with Lock but custom login form). I also have in another (working) project a secure code with the use of Html.AntiForgeryToken() and ValidateAntiforgeryTokenAttribute and the Owin set up to support it, it's just not st

[2017-11-15 08:34] jerriep commented on #54
Just a clarification on the ASP.NET Core sample you reference; That particular sample uses - as you mentioned - a custom MVC form. It then uses the Resource Owner Password grant to authenticate the user.

So while that may appear on the surface to be a custom login similar to self-hosted Lock, it is not. The Resource Owner Password grant is completely supported by Auth0 and is very different than

[2017-11-20 02:36] jerriep commented on #43
Closing this issue. Feel free to re-open if this is still an issue

[2017-11-20 02:36] #43 closed

[2017-11-20 02:37] jerriep commented on #54
@brgrz Any feedback on this

[2017-11-21 10:07] brgrz commented on #54
I used my old code, tweaked it a bit and it works but only redirects back to root, so I had to change my app up a bit. Due to the way Auth0 segregates users across clients and connections (a bit akward for us) I am not sure whether we'll continue to use Auth0 in the long run. Add to that I'm waiting for a response from the Sales team for 3 days now, it's another reason why I'm not too thrilled abo

[2017-11-21 10:07] #54 closed

[2018-01-04 19:01] sghobbs opened #55 "Auth0AuthenticatedContext ClaimsIdentity missing Email claim"
**Current Behavior**:
As intended, the user passes through an Auth0 authentication flow, returning a normalized JSON identity profile, which the `Auth0AuthenticationProvider` middleware then transforms to a strongly-typed `ClaimsIdentity`. This `ClaimsIdentity` is available via the `Auth0AuthenticatedContext` instance passed to the OnAuthenticated event callback, and it is also automatically set a

[2018-01-04 19:23] sghobbs commented on #55
**Update**: It seems I am able to replicate this issue only when using the hosted Auth0 login page, in which instance the JSON profile seems to lack an email property (regardless of which connection I try). **This may then be just an issue with my client configuration, rather than the library.** I apologize.

(When I authenticate the user via the auth0-lock.js library hosted on my own site, the em

[2018-01-04 20:03] aaguiarz commented on #55
Are you asking for the 'email' scope in the .net app?

[2018-01-04 20:23] sghobbs commented on #55
@aaguiarz That's it. I wasn't asking for the "email" scope when registering the Auth0AuthenticationOptions. (I was, however, asking for the email scope in my auth0-lock.js instance, which is why it worked there.) Adding the "email" scope in my startup.cs resolves this issue.

It would be helpful to add a step for adding the "email" scope to the [Getting the Profile](https://auth0.com/docs/quicksta

[2018-01-08 03:48] jerriep commented on #55
Thank you for pointing this out @sghobbs and apologies for the confusion.

I have created PR auth0/docs#5555 to resolve this issue

[2018-01-10 13:23] #55 closed

[2018-02-27 00:31] saltukalakus opened #57 "Add caching mechanism for JWKS endpoints."
It looks like, we don't provide a caching mechanism similar to [node-jwks-rsa](https://github.com/auth0/node-jwks-rsa#caching) library. Can we add this support? ZD # 35507

[2018-02-27 01:23] jerriep commented on #57
The `ConfigurationManager` class we use internally (https://github.com/auth0/auth0-aspnet-owin/blob/b99a998389e772c9b10338bcd01539f5f520961a/src/Auth0.Owin.OpenIdConnectSigningKeyResolver/OpenIdConnectSigningKeyResolver.cs#L16) caches the keys. I tested it at the time by also monitoring network traffic, so I believe this is indeed the case.

Do you have experience of the contrary? If so then I'll

[2018-02-27 02:02] saltukalakus commented on #57
Hi Jerrie,

I haven't tested. To be honest I'm novice for .net . Could you confirm if my understanding is correct;

Once I create the object;

[code]

I expect, consecutive calls to getting signing key will trigger at some point a request to JWKS endpoint to refresh the public keys.

[code]

I've two questions in that case;

1- What is the default cache period and can I configure timeout period?
2

[2018-02-27 02:21] jerriep commented on #57
Yes, your understanding is correct. I am not sure internally when the `ConfigurationManager` class download the keys from the JWKS endpoint - whether on instantiation, or the first time it needs it. Either case, it will make that call once and then cache the keys.

1. I believe 24 hours, but not sure. Also not sure whether we can override that. I need to look into it, as that source code is from i

[2018-02-27 02:36] saltukalakus commented on #57
I asked the customer to join this conversation. Hopefully he can provide more details, such as how they use the library in their application etc.

Issue is something like this; I have compiled a few replies into one body.

[code]
Basically in our logs there isn't information for the root cause of the problem, and customer response;

[code]

[2018-02-27 02:43] saltukalakus commented on #57
I can say that 2. item is more important. Configuring cache update time isn't critical. What could be a workaround in case there is an issue during request to endpoint? Following is the customer's proposal;
...
Maybe you can tell me if the following workaround is reasonable were this to happen again:
I can host some of the configuration content on a server I have control over.
So, take the content

[2018-02-27 05:42] jerriep commented on #57
My suggestion would be that the customer stores the actual public key which is used for validating the token on the server and then use that.

No 100% sure off-hand what this will look like.

Let me work on a sample and get back to you

[2018-02-27 06:54] jerriep commented on #57
@saltukalakus I created a sample which demonstrates how to use a certificate which is downloaded from Auth0. You can find this sample here:
https://github.com/auth0-samples/auth0-aspnet-owin-webapi-samples/tree/master/Samples/rs256-local-certificate

The readme file in the project folder describes what to do. It is pretty straightforward.

Let me know whether this solves your customer's issue

[2018-02-28 20:40] brianhulick commented on #57
I'm the customer in question and I, more or less, use the example code here:
https://auth0.com/docs/quickstart/backend/webapi-owin/01-authorization

This snippet is from the OwinStartup class:

[code]

Does this automatically leverage the library's internal caching?

[2018-02-28 20:43] brianhulick commented on #57
@jerriep Thank you for that certificate example. That makes sense and is easier to work with than attempting to mimic the output of the openid-configuration endpoint. Do you know long is that certificate valid for? If I were to download the .cer file now and then not need it for a year or so, would it still be valid?

[2018-03-01 01:37] jerriep commented on #57
Yes it does

I am not an Auth0 employee anymore, so I do not really have easy access to the internal people to confirm this for you. **But**, from what I remember when I was still an employee, Auth0 does not cycle the certificates. But maybe @saltukalakus can confirm that for us?

[2018-03-01 01:50] aaguiarz commented on #57
@brianhulick you'll need to assume that the JWKS could be invalid.

You get it from the cache, try to validate the token, and if you get an error because the JWKS is not valid, the cache needs to be invalidated, and the JWKS downloaded again.

[2018-04-05 02:21] robertmclaws opened #58 "This library should include Kentor.OwinCookieSaver by default"
Hey Jerrie,

In my experience with this library, any time you try to save an id_token or an access_token to an auth cookie, you hit the OWIN bug. It just bit me again at a state contract, and it took a little time to figure out. Why not just include the package in this project by default, and register it for the user inside the existing extension method? Then they get the correct behavior without

[2018-04-05 04:19] jerriep commented on #58
Hi Robert,

We do make it clear in the Quickstart that users should use the Kentor library:
https://auth0.com/docs/quickstart/webapp/aspnet-owin/01-login

I do not think it is as simple as making it part of our library and handling the registration as part of our middleware, as the Kentor middleware appears to be very specific about where it must be registered. From their docs:

So if we handle th

[2018-04-05 15:08] robertmclaws commented on #58
So you're right, it IS in the QuickStart... but a) it's not mentioned in the NuGet package readme, and b) that assumes that every developer will go through the QuickStart. Most developer just download NuGet packages and then bang their head against their desk until they figure it out.

At one of my clients, I wrote a wrapper to help instantiate Auth0 the right way, without each developer having to

[2018-04-06 00:15] jerriep commented on #58
Hi Robert,

Yes, we can certainly make it clear in the package README as well. That is a big oversight on my part, and I will sort it out, thanks 👍

As for a wrapper which does everything for the developer, I am very sceptical of doing that. It is unusual for a piece of authentication middleware to handle registration of the cookie middleware as well, so it is not something a developer will expect

[2018-04-10 01:04] nicosabena commented on #58
Sorry, I missed the notifications.
I was the one adding the notes for the Kentor.OwinCookieSaver originally on the `readme.md` and later on the Quickstarts. Over the years, I think I must have answered about 10 issues related to this (which prompted me to update the quickstarts as well).
We could definitely improve the package README to warn users about this. But I don't think it would be a good i

[2018-04-10 01:10] jerriep commented on #58
Thank you @nicosabena. I will update the README which is displayed upon package installation accordingly to make it very clear that customers should install the Kentor lib, but for now, we will not provide a wrapper around this.

[2018-04-10 18:45] nicosabena commented on #58
@robertmclaws What I meant is that in the extension method we can only control the order of things that happen within that method, but not the order in which users add other extensions as well.

I understand your point, and I'm not trying to be mean here, but doing too much in a library is a big risk. Taking a dependency on a third-party product that solves a problem that is tangential to what thi

[2018-04-10 20:01] robertmclaws commented on #58
@nicosabena I have to respectfully disagree with you here. Your first point is irrelevant because it's a truism that exists whether you act on this or not. Of course you can't "control" anything a developer does outside your library, *which is why libraries exist in the first place*... because it's a place you CAN control.

Second, the problem is not tangential to your library at all. If you add m

[2018-04-10 23:44] jerriep commented on #58
@robertmclaws Look, what you are proposing is not how any other piece of OWIN auth middleware works. Also, it is hiding implementation details from developers and can cause more support issues down the line - support issues which we will have to attend to, not you.

The underlying issue with the cookies is in the OWIN middleware, not ours. And the solution is known. I will update the readme which

[2018-04-12 04:37] #58 closed

[2018-04-18 08:39] jerriep commented on #57
@saltukalakus and @brianhulick I am closing this issue. Please feel free to comment or re-open if there are any more questions

[2018-04-18 08:39] #57 closed

[2018-04-24 18:10] IanBuswell-etech opened #59 "Redirect inside OnTokenExchangeFailed not respected"
Hello,
I have an issue where redirects inside OnTokenExchangeFailed are not respected.

For context:
Currently using Auth0 for authentication only as a phased approach, so have to match up with local records (link via stored auth0 id) to add some claims information to support legacy cookie login which is done on OnAuthenticated.

Example:

[code]

However, the resulting url I'm getting redirected

[2018-04-27 01:04] jerriep commented on #59
@IanBuswell-etech Hmm, yeah I think that particular line you are referring to should honour the `ErrorRedirectPath`. Do you want to redirect to a different path for each request, or is it fine if you set the `ErrorRedirectPath` and we redirect to that path every time?

Also, the `OnTokenExchangeFailed` will only be invoked if an error occurs when the **authorization code** is exchanged for the tok

[2018-04-30 15:11] IanBuswell-etech commented on #59
Hello, thanks for responding.

I think just using `ErrorRedirectPath` for every request will be fine for now thanks. I'll not complain if we get the option to set it on each request though.

Think there might be a bit of confusion on the second question.
We don't fail on Auth0 side, that's successful so we have a token, we're just failing inside the `OnAuthenticated` delegate which is the last thi

[2018-05-02 14:15] VyacheslavPritykin opened #60 "OWIN 4 support"
Is there any ETA to support OWIN 4?

[2018-05-02 14:30] jerriep commented on #60
Currently, there is no way around the incompatibilities I laid out over here:
https://community.auth0.com/t/webapi-owin-example-is-not-working/9704/2

[2018-05-07 02:39] jerriep commented on #59
@IanBuswell-etech OK, so I think some of the complications come in because at the point where you "fail" the authentication, the authentication has actually completed successfully.

The easiest way for you to achieve what you want is to update the `OnAuthenticated` event handler to set the user's `Identity` to null - which means that there is no authenticated user - and then override the `Redirect

[2018-05-09 10:01] VyacheslavPritykin commented on #60
@jerriep Does it mean that with OWIN 4 it's impossible to validate issued JWT tokens? It sounds weird.
In you comment you wrote:

https://github.com/IdentityServer/IdentityServer3/issues/3017

However, the mentioned issue in IdentityServer3 was caused by the fact that the System.IdentityModel.Tokens.Jwt v5 was incompatible with OWIN 3. It's not the case for now, since it can work with OWIN 4.

[2018-05-09 10:34] jerriep commented on #60
@VyacheslavPritykin

Let's maybe start off with establishing *what* it is you want to use in OWIN 4. This repo contains source for multiple NuGet packages. Which one is it *exactly* you are trying to use with OWIN 4?

[2018-05-09 16:08] VyacheslavPritykin commented on #60
@jerriep I'm interested in Auth0.Owin.OpenIdConnectSigningKeyResolver.
I want to update OWIN to v4 in one project and it seems that after that the customers won't be able to use Auth0 access tokens as authorization tokens for this project.

[2018-05-09 23:05] jerriep commented on #60
I tried to get `OpenIdConnectSigningKeyResolver` working on OWIN 4 a month or so ago and was unable to do so. I ran into multiple runtime issues - not just the ones listed.

I plan to look at it again, but it is unlikely it will happen in the next month. If you need this urgently you are welcome to look into it yourself, and, if you can get it working, submit a PR.

[2018-05-10 07:17] jpercyetech commented on #59
@jerriep Thanks v much - that way seems to be working well for our use case.

[2018-05-10 07:31] jerriep commented on #60
I can give no guarantees that it will support OWIN 4, due to my previous problems with getting it working. But, I will give it another go to see whether I can make everything working together.

Will keep you updated.

[2018-05-10 07:32] jerriep commented on #59
@jpercyetech Cool :)

Are you working with @IanBuswell-etech ? If so, can I close this issue?

[2018-05-10 07:34] jpercyetech commented on #59
I am, yes.

And yeah go ahead and close - thanks for your help.

[2018-05-10 07:42] jerriep commented on #59
Great, thank you!

[2018-05-10 07:42] #59 closed

[2018-06-08 08:47] Robar666 opened #61 "Custom claims"
I created a rule in Auth0 to add custom claims.

[code]

If I debug during
[code]
and parse the JWT token on https://jwt.io/, I can see the custom claims.

But if I try to access them later via `HttpContext.GetOwinContext().Authentication.User.Claims`, I can only see the default claims, but not my custom claims.

Looking through the [code](https://github.com/auth0/auth0-aspnet-owin/blob/master/src

[2018-06-12 00:16] jerriep commented on #61
@Robar666 We are actually in the process of deprecating this library and will suggest users move over to using the built-in OWIN OpenID Connect middleware.

Here is a preliminary sample on how to use that particular middleware with Auth0:
https://github.com/auth0/auth0-aspnet-owin/blob/owin4/test/Auth0OwinTest/Startup.cs

[2018-06-13 08:34] shehanf opened #62 "Edit Default claims"
Hi,

Is there a way that we can edit default claims ? like say, i need to change the Name field property that is coming from auth0 side using a local database value. currently Name field contains the email. i want to change that. is there a way? im currently trying to do this in the **OnAuthenticated** handler. Thanks

[2018-06-13 08:46] jerriep commented on #62
I have not tried it, but I think the `OnAuthenticated` event is the correct one, as that is triggered before the `AuthenticationTicket` is created:
https://github.com/auth0/auth0-aspnet-owin/blob/master/src/Auth0.Owin/Auth0AuthenticationHandler.cs#L130

Are you having problems with it?

[2018-06-13 08:55] shehanf commented on #62
Yeah it is. What i want to achieve is edit those claims that comes. currently for user's Name it gives me the email of that user. i want to change that to the user's name. i cant edit them since those claim properties are read only.

[2018-06-13 09:15] jerriep commented on #62
I think you will have to remove the claim, and then add it back with the new value.

Please note however that we will retire this library in the next few weeks though. We want customers to start using the standard OWIN 4 OpenID Connect middleware

[2018-06-13 09:59] shehanf commented on #62
hmm yeah i got that confused. i replaced that claim with what the claim that i want thank you. Does that mean that Auth0 will not support applications that uses this library ?

[2018-06-13 10:01] jerriep commented on #62
I cannot comment right now on that, as this needs to be finalised. I will keep you updated once we have everything in place with steps for migrating.

[2018-06-13 10:16] shehanf commented on #62
hmm we are currently building a web app using this library. Hope the change will not effect to the applications that already uses this library like ours. cause its kinda gonna be a hassle to migrate our code base as well yeah. Anyways thanks on quick response and the help.

[2018-06-13 10:16] #62 closed

[2018-06-13 10:19] jerriep commented on #62
It may be best then, if you can, to switch to using the OWIN 4 OpenIdConnect middleware as soon as possible before you get to far along with this lib.

You can refer to this `Startup` class for how to configure it:
https://github.com/auth0/auth0-aspnet-owin/blob/owin4/test/Auth0OwinTest/Startup.cs

You will need to install the Nuget package `Microsoft.Owin.Security.OpenIdConnect` version 4.0.0

[2018-06-13 10:31] shehanf commented on #62
Will check this out soon, thank you.

[2018-06-22 18:44] lukelengl commented on #60
I was able to get OWIN 4 to work without using `OpenIdConnectSigningKeyResolver`.

I have the following NuGet packages:
Microsoft.Owin.Host.SystemWeb 4.0.0
Microsoft.IdentityModel.Protocols.OpenIdConnect 5.2.2
Microsoft.IdentityModel.Tokens 5.2.2
Microsoft.Owin.Security.Jwt 4.0.0

Then I can just use the following: (Here's my modifications to Auth0 Quickstart guide found here: https://auth0.com/do

[2018-07-16 04:11] jerriep commented on #61
Closing this as this library is now deprecated. Users should use the standard OWIN OIDC middleware as per https://github.com/auth0/auth0-aspnet

[2018-07-16 04:11] #61 closed

[2018-07-16 04:12] jerriep commented on #60
OWIN 4 support is now available.

For web applications, the standard OIDC middleware should be used as per the Quickstart:
https://auth0.com/docs/quickstart/webapp/aspnet-owin

For Web API, the package has been updated for OWIN 4. Please refer to Quickstart:
https://auth0.com/docs/quickstart/backend/webapi-owin

[2018-07-16 04:12] #60 closed

[2018-08-13 02:15] koolraap opened #65 "OWIN 3 alternative"
I'm not in a position to migrate to OWIN 4. Is there an OWIN 3 alternative? Alternatively is there more information available about the vulnerability that we can use to patch this middleware?

My specific use case is using Auth0 as an external identity provider in Identity Server 3.

[2018-08-13 03:40] jerriep commented on #65
@koolraap The vulnerability was described in detail in [this blog post](https://kevinchalet.com/2018/08/08/session-fixation-vulnerability-in-the-auth0-asp-net-and-owin-sdks/)

Auth0 has no intention of patching this library for OWIN 3. You are free to take the [source code](https://github.com/auth0/auth0-aspnet-owin/tree/master/src/Auth0.Owin) nd compile if yourself, however.

[2018-08-13 03:40] #65 closed, assigned to jerriep

[2018-08-13 03:46] koolraap commented on #65
Great, that's exactly what I was after. Thank you.

[2018-08-24 05:38] koolraap commented on #65
This seems to have done the trick. It's the same way the Facebook/Google/etc providers in Microsoft.Owin 3.1.0 have implemented CSRF/fixation. To watch it in action look for a cookie named `.Aspnet.Correlation.<middlewarename>`.

Note: I'm not a security expert. Caveat emptor.

Updated Microsoft.Owin from 3.0.1 to 3.1.0
Updated Microsoft.Owin.Security from 3.0.1 to 3.1.0
Updated Microsoft.Owin.Sec